<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autochat Bot</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <nav>
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="#" class="flex items-center">
          <img
            src="https://seeklogo.com/images/O/open-ai-logo-8B9BFEDC26-seeklogo.com.png"
            class="h-8 mr-3"
            alt="Flowbite Logo"
          />
          <span
            class="self-center text-2xl font-bold whitespace-nowrap dark:text-white"
            >LTTTH GPT</span
          >
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="box">
        <div class="botintroduction">
          <div>
            <img
              src="https://psc2.cf2.poecdn.net/e624182724b2f7d087d86e14094be569c56fc207/_next/static/media/assistant.b077c338.svg"
              alt="Assistant"
              class="botimage"
            />
            <div class="botcontent">
              <h2 class="botname">Tuan Dep Trai</h2>
              <div class="botoperated">
                Operated by <span class="teamname">@LTTTH</span>
              </div>
            </div>
          </div>
          <div>
            General-purpose assistant bot with strengths in programming-related
            tasks and non-English languages. Powered by gpt-3.5-turbo.
          </div>
        </div>

        <div class="upper" id="upperid">
          <span class="downwarning">Type your message in box below.</span>
        </div>

        <div class="suggestions">
          {% for each in suggestion_list%}
          <div onclick="onclickSuggestion('{{ each.message }}')">
            {{ each.title }}
          </div>
          {% endfor %}
        </div>

        <div class="bottom">
          <form id="userinputform">
            <label for="chat" class="sr-only">Your message</label>
            <div class="boxchat">
              <div class="flex-1" id="inputarea">
                <textarea
                  id="userinput"
                  rows="1"
                  class="block mx-4 p-2.5 w-full text-sm text-white-900 bg-white rounded-lg border-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Your message..."
                ></textarea>
              </div>
              <div>
                <label for="fileInput">
                  <button
                    id="attachbtn"
                    class="inline-flex justify-center p-2 bg-blue-100 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
                    type="button"
                    onclick="uploadFile()"
                  >
                    <svg
                      aria-hidden="true"
                      viewBox="0 0 15 26"
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-6 h-6 text-white-600"
                    >
                      <path
                        d="M7.11 26C3.287 26 .178 22.757.178 18.772V5.312C.179 2.382 2.469 0 5.285 0 6.66 0 7.947.559 8.913 1.573a5.38 5.38 0 0 1 1.478 3.74v11.439c0 1.872-1.472 3.395-3.282 3.395-1.809 0-3.281-1.523-3.281-3.395V8.333a1 1 0 0 1 2 0v8.418c0 .769.575 1.394 1.281 1.394.707 0 1.282-.625 1.282-1.394V5.31c0-.894-.328-1.732-.926-2.36a2.998 2.998 0 0 0-2.18-.952c-1.713 0-3.106 1.485-3.106 3.312v13.46c0 2.882 2.212 5.228 4.93 5.228 2.72 0 4.932-2.346 4.932-5.228V8.333a1 1 0 0 1 2 0v10.439c0 3.985-3.109 7.228-6.932 7.228Z"
                      ></path>
                    </svg>
                    <span class="sr-only">Attach File</span>
                  </button>
                </label>
                <input id="fileInput" type="file" />
              </div>
              <div>
                <button
                  type="submit"
                  class="inline-flex justify-center p-2 bg-blue-500 rounded-full cursor-pointer hover:bg-blue-500 hover:text-white dark:text-blue-500 dark:hover:bg-gray-600"
                  id="sendbtn"
                >
                  <svg
                    aria-hidden="true"
                    class="w-6 h-6 rotate-90"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"
                    ></path>
                  </svg>
                  <span class="sr-only">Send message</span>
                </button>
              </div>
            </div>
          </form>

          <span class="downwarning"
            >Remember Your Chat will not be saved, it will be lost upon
            reloading.</span
          >
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
